<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Photo Tab -->
  <ion-tab title="Photo" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/photo">
    <ion-nav-view name="tab-photo"></ion-nav-view>
  </ion-tab>

  <!-- Gallery Tab -->
  <ion-tab title="Gallery" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/gallery">
    <ion-nav-view name="tab-gallery"></ion-nav-view>
  </ion-tab>

</ion-tabs>
